// Colors var
$header-bg-color: #3F4257;
$logo-bg-color: #FF5E3A;
$side-bar-bg-color: #FAFAFA;
$content-bg-color: #EDF2F6;

$menu-icon-color: #999EBE;
$hover-item-color: #FF5E3A;
$text-color: #888DA8;