@import "../../styles/variables";


.add_post_container{
  width: 620px;
  background-color: white;
  border-radius: 5px;

  .new_post{
    position: relative;
    height: 160px;

    .avatar{
      position: absolute;
      top: 22px;
      left: 40px;
    }

    .label{
      position: absolute;
      top: 22px;
      left: 70px;
      line-height: 20px;
      font-size: 14px;
      transition: 200ms linear;
      color: $text-color;
    }

    .new_post_form{
      width: 620px;
      height: 100%;
      resize: none;
      border: none;
      padding-left: 70px;
      padding-top: 40px;
      border-bottom: 1px solid $content-bg-color;
      color: $text-color;
      line-height: 20px;
      font-size: 14px;
      border-radius: 5px;
    }

    .new_post_form:focus{
      outline: none;
      border-bottom: 1px solid orange;

      + .label{
        font-size: 11px;
        line-height: 11.8px;
        transition: 200ms linear;
      }
    }
  }

  .control_form_container{
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .btn_post{
      cursor: pointer;
      margin-right: 25px;
      height: 45px;
      width: 128px;
      border-radius: 5px;
      outline: none;
      color: white;
      background-color: $logo-bg-color;
      opacity: 1;
      transition: 200ms linear;
      border: none;
    }

    .btn_post:hover{
      opacity: 0.8;
      transition: 200ms linear;
    }
  }
}